* {
    -fx-app-darkblue-color: #394250;
    -fx-app-orange-color: #F9B055;
}

.root {
    -fx-font-size: 14;
}

#workPane {
    -fx-background-color: -fx-app-darkblue-color;
}

#vpane {
    -fx-background-color: -fx-app-orange-color;
}

.button, .toggle-button {
    -fx-pref-width: 170;
    -fx-pref-height: 40;
    -fx-border-color: -fx-app-darkblue-color;
    -fx-border-width: 2;
    -fx-border-radius: 7;
    -fx-background-radius: 9;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button {
    -fx-background-insets: 5 15 5 15;
    -fx-border-insets: 5 15 5 15;
}

.toggle-button {
    -fx-background-insets: 130 15 5 15;
    -fx-border-insets: 130 15 5 15;
}

.button:hover, .button:focused, .toggle-button:hover, .toggle-button:selected, .menu:hover, .menu-item:hover {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: white;
}

.thumb {
    -fx-background-color: #3a3a3a;
    -fx-border-radius: 7;
    -fx-background-radius: 9;
}

.text-field {
    -fx-border-color: transparent;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}